@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-base: #5EC5FD;
  --gray-200: #949494;
}

::-webkit-scrollbar {
  width: 8px;
  background: #e2c8bf; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background-color: #f08e6e; 
  border: 1px solid #e2c8bf;
}